<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
  <!--<add name="HSConnectionString" connectionString="Data Source=salman;Initial Catalog=HS_FIL;Persist Security Info=True;User ID=sa;Password=sql123"
       providerName="System.Data.SqlClient"/>-->
  <add name="HSConnectionString" connectionString="Data Source=Salman;Initial Catalog=HS_MarviSweets;Persist Security Info=True;User ID=sa;Password=sql123"
       providerName="System.Data.SqlClient"/> 
  </connectionStrings>
<appSettings>
  

</appSettings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
<runtime>
  <generatePublisherEvidence enabled="false"/>
</runtime>

</configuration>